<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.webServer>
    <security>
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <clear/>
        <add ipAddress="202.232.226.3" allowed="true"/>
        <add ipAddress="202.232.226.4" allowed="true"/>
        <add ipAddress="101.110.20.1" allowed="true"/>
        <add ipAddress="172.25.0.15" allowed="true"/>
        <add ipAddress="10.17.231.13" allowed="true"/>
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
